$pre:           '';
$images:        '../images/';
$fonts:         '../fonts/';

// --------------------------------------------------
// Body
// --------------------------------------------------
$body-max-width: 1200px;
$body-min-width: 320px;
