include ../base/vars.jade
include ../base/mixin.jade

doctype html
html(lang="lt")
    head
        include ./blocks/meta.jade
        title= pageTitle
        include ./blocks/style.jade
        include ./blocks/script.jade
    body
        include ../blocks/header.jade
        main
            block content
        include ../blocks/footer.jade
        include ./blocks/script-bottom.jade